@font-face {
    font-family: "Acme";
    src: url("Acme-Regular.ttf") format("truetype");
}
html {
    background-color : rgb(17, 17, 17);
}
.XXLtext{
    color : white;
    text-align : center;
    font-family : "Acme";
    font-size : 128px;
}
.normaltext{
    color: white;
    font-family: "Acme";
    font-size: 32px;

}
<body style="background-color:black;">
