@import url(
         https://fonts.googleapis.com/css?family=Acme);

html {
    background-color : black;
}
.XXLtext{
    color : white;
    text-align : center;
    font-family : Acme;
    font-size : 128px;
}
.normaltext{
    color: white;
    font-family: Acme;
    font-size: 32px;

}
