@font-face {
    font-family: "Acme";
    src: url("Lato/Lato-Black.ttf") format("truetype");
}
html {
    background-color : rgb(17, 17, 17);
}
.XXLtext{
    color : white;
    text-align : center;
    font-family : "Lato";
    font-size : 128px;
}
.normaltext{
    color: white;
    font-family: "Lato";
    font-size: 32px;

}
